
local_settings.py
db.sqlite3
media


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



# .gitignore
# Project files and directories
crm/local_settings.py
crm/static/images/no-img.png
crm/tmp/
crm/media/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/