{% extends 'base.html' %} {% block content %}
<br />
<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="card card-body text-center">
      <h3>Password Reset</h3>

      <p>
        Forgotten your password? Enter your email address below, and we'll email
        instructions for setting a new one.
      </p>

      <form action="" method="post">
        {% csrf_token %} {{form}}
        <input
          type="submit"
          value="Reset"
          name="send email"
          class="btn btn-primary btn-sm"
        />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
