{% extends "base.html" %} {% block title %} products {% endblock title %}
{%block content %}
<br />
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>products</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>product</th>
          <th>category</th>
          <th>price</th>
        </tr>
        {% for product in products %}
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.price}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
