{% extends 'base.html' %} {% block content %}
<br />
<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-mb-5">
      <div class="card card-body text-center">
        <h4>Register</h4>
        <form action="" method="POST">
          {% csrf_token%}
          <div class="mb-3">{{form.username.label}} {{form.username}}</div>
          <div class="mb-3">{{form.email.label}} {{form.email}}</div>
          <div class="mb-3">{{form.password1.label}} {{form.password1}}</div>
          <div class="mb-3">{{form.password2.label}} {{form.password2}}</div>
          <div class="text-right">
            <p>Already registered? <a href="{% url 'login' %}">login</a></p>
          </div>
          {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %}
          <br />
          {% if form.errors %}
          <br />
          {% for field in form %}
          <br />
          {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %} {% endfor %}
          <br />
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %} {% endif %}
          <input
            type="submit"
            value="submit"
            name="submit"
            class="btn btn-sm btn-primary"
          />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
